<h3>Cumple con la Titulación (Familia)</h3>

<table mat-table [dataSource]="offersStudy" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="puesto">
    <th mat-header-cell *matHeaderCellDef> Puesto </th>
    <td mat-cell *matCellDef="let offer"> {{offer.job.name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="empresa">
    <th mat-header-cell *matHeaderCellDef> Empresa </th>
    <td mat-cell *matCellDef="let offer"> {{offer.company.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="familia">
    <th mat-header-cell *matHeaderCellDef> Familia </th>
    <td mat-cell *matCellDef="let offer"> {{offer.category.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let offer"> {{offer.date}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="provincia">
    <th mat-header-cell *matHeaderCellDef> Provincia </th>
    <td mat-cell *matCellDef="let offer"> {{offer.province.name }} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="municipio">
    <th mat-header-cell *matHeaderCellDef> Municipio </th>
    <td mat-cell *matCellDef="let offer"> {{offer.municipe.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="inscrito">
    <th mat-header-cell *matHeaderCellDef> Inscrito </th>
    <td mat-cell *matCellDef="let offer"> {{offer.subscribe ? 'Sí' : 'No'}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let offer">
      <a style="cursor:pointer" [routerLink]="[offer.id]">Ver Detalle</a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="offersColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: offersColumns;"></tr>
</table>

<h3>Otras Ofertas</h3>


<table mat-table [dataSource]="offersOther" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="puestoOther">
    <th mat-header-cell *matHeaderCellDef> Puesto </th>
    <td mat-cell *matCellDef="let offerOther"> {{offerOther.job.name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="empresaOther">
    <th mat-header-cell *matHeaderCellDef> Empresa </th>
    <td mat-cell *matCellDef="let offerOther"> {{offerOther.company.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="familiaOther">
    <th mat-header-cell *matHeaderCellDef> Familia </th>
    <td mat-cell *matCellDef="let offerOther"> {{offerOther.category.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="fechaOther">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let offerOther"> {{offerOther.date}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="provinciaOther">
    <th mat-header-cell *matHeaderCellDef> Provincia </th>
    <td mat-cell *matCellDef="let offerOther"> {{offerOther.province.name }} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="municipioOther">
    <th mat-header-cell *matHeaderCellDef> Municipio </th>
    <td mat-cell *matCellDef="let offerOther"> {{offerOther.municipe.name}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="offersOthersColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: offersOthersColumns;"></tr>
</table>

<!--

<table class="table table-bordered table-striped">
  <thead class="thead-light">
  <tr>
    <th>Puesto</th>
    <th>Empresa</th>
    <th>Familia</th>
    <th>Fecha</th>
    <th>Provincia</th>
    <th>Municipio</th>
    <th>Inscrito</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let offer of offersStudy">
    <td>{{ offer.job.name }}</td>
    <td>{{ offer.company.name }}</td>
    <td>{{ offer.category.name }}</td>
    <td>{{ offer.date }}</td>
    <td>{{ offer.province.name }}</td>
    <td>{{ offer.municipe.name }}</td>
    <td>{{ offer.subscribe ? 'Sí' : 'No' }}</td>
    <td>
      <a style="cursor:pointer" [routerLink]="[offer.id]">Ver Detalle</a>
    </td>
  </tr>
  </tbody>
</table>
<table class="table table-bordered table-striped">
  <thead class="thead-light">
  <tr>
    <th>Puesto</th>
    <th>Empresa</th>
    <th>Familia</th>
    <th>Fecha</th>
    <th>Provincia</th>
    <th>Municipio</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let offer of offersOther">
    <td>{{ offer.job.name }}</td>
    <td>{{ offer.company.name }}</td>
    <td>{{ offer.category.name }}</td>
    <td>{{ offer.date }}</td>
    <td>{{ offer.province.name }}</td>
    <td>{{ offer.municipe.name }}</td>
    <td></td>
  </tr>
  </tbody>
</table>

-->
