<div class="container profile">
  <form [formGroup]="rForm" (submit)="save()">
    <div>
    <mat-form-field hintLabel="Entre 3 y 255 caracteres">
      <input matInput #input maxlength="255" placeholder="Nombre" formControlName="name">
      <mat-hint align="end">{{input.value?.length || 3}}/255</mat-hint>
    </mat-form-field>
    <mat-form-field hintLabel="Entre 3 y 255 caracteres">
      <input matInput #input maxlength="255" placeholder="Apellidos" formControlName="surname">
      <mat-hint align="end">{{input.value?.length || 3}}/255</mat-hint>
    </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento" formControlName="birthdate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
    <mat-form-field>
      <input matInput #input maxlength="255" placeholder="Teléfono" formControlName="phone">
    </mat-form-field>
    <mat-form-field>
      <input matInput #input maxlength="255" placeholder="Teléfono 2" formControlName="phone2">
    </mat-form-field>
    </div>
    <div>
      <h3 > Documento identidad</h3>
      <mat-form-field class="form-group">
        <mat-select [compareWith]="compareByUID"
                    name="documentType"
                    formControlName="documentType">
          <mat-option [value]="documentType"
                      *ngFor="let documentType of documentsType"
                    >{{ documentType.name }}</mat-option>
        </mat-select>
        <mat-hint align="end">elige un tipo ^</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <input matInput #input maxlength="255" placeholder="Número documento" formControlName="documentNumber">
      </mat-form-field>
    </div>
    <div>
      <h3> Dirección</h3>
      <mat-form-field>
        <input matInput #input maxlength="255" placeholder="Calle" formControlName="street">
      </mat-form-field>
      <mat-form-field class="form-group">
        <mat-select [compareWith]="compareByUID"
                    name="province"
                    formControlName="province">
          <mat-option [value]="province"
                      *ngFor="let province of provinces"
          >{{ province.name }}</mat-option>
        </mat-select>
        <mat-hint align="end">Selecione provincia ^</mat-hint>
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>
    <div>
      <h3> Otros Datos</h3>
      <mat-form-field>
        <textarea matInput placeholder="Acerca de mí" formControlName="aboutMe"></textarea>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Otras Competencias" formControlName="otherCompetences"></textarea>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Licencias" formControlName="license"></textarea>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="rForm.invalid">Guardar</button>
  </form>
</div>
