<!--h2>Editar Idiomas</h2>
<hr>
<section class="container editar-idiomas">
  <div class="avatar">
    <img src="assets/img/main.jpg" width="100px">
    <span>
      <a [routerLink]="['/admin/profile']">{{identity.name}} {{identity.surname}}</a>
    </span>
  </div>
  <h2>Idiomas</h2>
  <table>
    <thead>
    <tr>
      <th>Empresa</th>
      <th>Puesto</th>
      <th>Fechas</th>
    </tr>
    </thead>
    <tbody *ngFor="let key of keys_languages">
    <tr>
      <td>{{identity.languages.entities[key].level}}</td>
      <td>{{identity.languages.entities[key].name}}</td>
      <td>{{identity.languages.entities[key].date}}</td>
    </tr>
    </tbody>
  </table>
</section-->
