<div *ngIf="user">
    <section class="container editar-formacion">
      <div class="avatar">
        <img src="assets/img/main.jpg" width="100px">
        <span>
          <a routerLink="/admin/profile/{{user.id}}">{{user.name}} {{user.surname}}</a>
        </span>
      </div>
    </section>

    <section class="container formacion">
        <h2>Formación Académica</h2>
        <a routerLink="/admin/profile/{{user.id}}/studies/{{nuevo_sid}}">
        añadir nuevo +</a>
        <table>
            <thead>
            <tr>
                <th>Nivel</th>
                <th>Título</th>
                <th>Centro</th>
                <th>Fecha</th>
                <th>Certificado</th>
                <th colspan="2">Acciones</th>
            </tr>
            </thead>

            <tbody *ngFor="let _ of user?.studies; let index=index; trackBy: trackByFn">
            <tr>
                <td>{{user.studies[index].tipo_titulo}}</td>
                <td>
                    <span *ngIf="user.studies[index].tipo_titulo === 'Ciclo'">
                        {{user.studies[index].formacion_ciclo[0].titulo}}
                    </span>
                    <span *ngIf="user.studies[index].tipo_titulo === 'Universidad'">
                        {{user.studies[index].formacion_universidad[0].titulo}}
                    </span>
                </td>
                <td>
                    <span *ngIf="user.studies[index].tipo_titulo === 'Ciclo'">
                        {{user.studies[index].formacion_ciclo[0].centro}}
                    </span>
                    <span *ngIf="user.studies[index].tipo_titulo === 'Universidad'">
                        {{user.studies[index].formacion_universidad[0].centro}}
                    </span>
                </td>
                <td>
                    <span *ngIf="user.studies[index].tipo_titulo === 'Ciclo'">
                        {{user.studies[index].formacion_ciclo[0].fecha}}
                    </span>
                    <span *ngIf="user.studies[index].tipo_titulo === 'Universidad'">
                        {{user.studies[index].formacion_universidad[0].fecha}}
                    </span>
                </td>
                <td>{{user.studies[index].formacion_ciclo[0].certificado}}</td>
                <td><a routerLink="/admin/profile/{{user.id}}/studies/{{user.studies[index].sid}}" (click)="editarFormacion()">editar</a></td>
                <td><button (click)='removeStudie(user.studies[index].sid)'>borrar</button></td>
            </tr>
            </tbody>
        </table>
    </section>
    <section>
        <h2>Editar Formación Académica</h2>
        <hr>
      <form id="formFormacion" class="form-grupo" [formGroup]="formFormacion" (ngSubmit)="submit(formFormacion)">
          <!-- NIVEL ACADEMICO ------------->
          <select formControlName="tipo_titulo" ng-model="seleccion" >
              <option *ngFor="let tipo of tipos" value="{{tipo.name}}">{{tipo.name}}</option>
          </select>


            <!-----------------------------------
            UNIVERSIDAD
            ------------------------------------>
          <div id="universitario" *ngIf="tipo_titulo.value === 'Universidad'">

              <!-- TITULO ACADEMICO ------------>
              <label>Título Universitario</label>
              <select formControlName="titulo_academico_universidad" ng-model="seleccion" >
                  <option *ngFor="let titulo of titulos" value="{{titulo.name}}">{{titulo.name}}</option>
              </select>
              <label>Centro Educativo</label>
              <select formControlName="centro" ng-model="seleccion" >
                  <option *ngFor="let centro of centros" value="{{centro.name}}">{{centro.name}}</option>
              </select>

              <label>Fecha de título</label>
              <input type="date" value="">

              <label>Formación</label>
              <input type="text" value="Formación">

              <label>Certificado</label>
              <input type="file" value="centro">
          </div>
            <!------- FIN UNIVERSIDAD ------------>

            <!-----------------------------------
            CICLO FORMATIVO
            ------------------------------------>
          <div id="ciclo" *ngIf="tipo_titulo.value == 'Ciclo'">
              <select formControlName="titulo_academico_ciclo" ng-model="seleccion" >
                  <option *ngFor="let titulo of titulos" value="{{titulo.name}}">{{titulo.name}}</option>
              </select>
              <label>Centro Educativo</label>
              <select formControlName="centro" ng-model="seleccion" >
                  <option *ngFor="let centro of centros" value="{{centro.name}}">{{centro.name}}</option>
              </select>

              <label>Tipo de Grado</label>
              <select formControlName="familia" ng-model="seleccion" >
                  <option *ngFor="let familia of familias" value="{{familia.name}}">{{familia.name}}</option>
              </select>

              <label>Tipo de Grado</label>
              <select formControlName="grado" ng-model="seleccion" >
                  <option *ngFor="let grado of grados" value="{{grado.name}}">{{grado.name}}</option>
              </select>

              <label>Fecha de título</label>
              <input type="date" value="Fecha">

              <label><input type="checkbox" name="formacion_dual"> Formación dual</label><br>
              <label><input type="checkbox" name="formacion_bilingue"> Formación bilingüe</label>

              <label>Certificado</label>
              <input type="file" value="centro">
          </div>
            <!------- FIN CICLO FORMATIVO ------------>
        <input type="submit" value="guardar" [disabled]="!formFormacion.valid">
        <p>Form status: {{formFormacion.status}}</p>

      </form>

    </section>
    <button (click)="goBack()">Volver</button>


</div>
<!--select id="country" formControlName="country">
  <option *ngFor="let c of countries" [ngValue]="c">{{ c }}</option>
</select-->
