<h2>Experiencia Laboral</h2>
<hr>
<section class="container editar-experiencia">
    <div class="avatar">
      <img src="assets/img/main.jpg" width="100px">
      <span>
        <a [routerLink]="['/admin/profile']">{{identity.name}} {{identity.surname}}</a>
      </span>
    </div>
    <table>
      <thead>
      <tr>
        <th>Empresa</th>
        <th>Puesto</th>
        <th>Fechas</th>
      </tr>
      </thead>
      <tbody *ngFor="let key of keys_experiences">
      <tr>
        <td>{{identity.experiences.entities[key].company}}</td>
        <td>{{identity.experiences.entities[key].position}}</td>
        <td>{{identity.experiences.entities[key].date}}</td>
      </tr>
      </tbody>
    </table>
  </section>
