<h2>Editar Datos Personales</h2>
<hr>
<div *ngIf="user">
<section class="container editar-datos">
  <div class="avatar">
      <img src="assets/img/main.jpg" width="100px">
      <span>
        <a routerLink="/admin/profile/{{user.id}}">{{user.name}} {{user.surname}}</a>
      </span>
  </div>
    <hr>

    <div class="formulario-datos">
    <form id="contactForm" [formGroup]="formDatos">
      <div >
        <label>Nombre</label>
        <input id="name" type="text" formControlName="name" >

        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
          <div *ngIf="name.errors.required">
            Es obligatorio
          </div>
          <div *ngIf="name.errors.minlength">
            Mínimo 3 caracteres
          </div>
        </div>

        <label>Apellidos</label>
        <input id="surname" type="text" formControlName="surname" >
        <div *ngIf="surname.invalid && (surname.dirty || surname.touched)" class="alert alert-danger">
          <div *ngIf="surname.errors.required">
           Es obligatorio
          </div>
          <div *ngIf="surname.errors.minlength">
            Mínimo 3 caracteres
          </div>
        </div>
      </div>
      <div >
        <label>Fecha de nacimiento</label>
        <input type="date" formControlName="nacimiento">
      </div>

      <div >
        <label>Imagen de perfil</label>
        <input type="file">
      </div>

      <div >
        <label>Teléfono</label>
        <input type="tel"  placeholder="{{user.phone}}" value="{{user.phone}}">

        <label>Teléfono 2</label>
        <input type="tel">
      </div>

       <div formGroupName="documento" >
        <label>Tipo de documento</label>
         <select formControlName="tipo" ng-model="seleccion" >
           <option *ngFor="let documento of documentos" value="{{documento.name}}">{{documento.name}}</option>
         </select>
        <label>Número de Identidad</label>
        <input  formControlName="numero" type="text">

         <p>DNI status: {{documento.status}}</p>
         <p>Número status: {{documento.status}}</p>
       </div>
      <div formGroupName="direccion" >
        <label>Dirección</label>
        <input formControlName="calle" type="text"  >
        <label>Provicia</label>
        <select formControlName="provincia" ng-model="seleccion" >
          <option *ngFor="let provincia of provincias" value="{{provincia.name}}">{{provincia.name}}</option>
        </select>
        <label>Municipio</label>
        <input formControlName="municipio" type="text"  >
      </div>

      <div >
        <label>Email</label>
        <input type="email" formControlName="email" placeholder="{{user.email}}" value="{{user.email}}" >
      </div>

      <div >
        <label>Permiso de Conducir</label>
        <input type="text" formControlName="permisos" >
      </div>

      <label>Sobre mí</label>
      <textarea formControlName="sobre_mi">{{user.sobre_mi}}</textarea>
      <label>Otras competencias</label>
      <textarea formControlName="otras_competencias">{{user.otras_competencias}}</textarea>

      <button [disabled]="!formDatos.valid" (click)="save()"> GUARDAR</button>


    </form>
    <p>Form status: {{formDatos.status}}</p>
  </div>
</section>
</div>

