<h3>Mis Ofertas</h3>
<table mat-table [dataSource]="offers" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="puesto">
    <th mat-header-cell *matHeaderCellDef> Puesto </th>
    <td mat-cell *matCellDef="let offer"> {{offer.job.name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="empresa">
    <th mat-header-cell *matHeaderCellDef> Empresa </th>
    <td mat-cell *matCellDef="let offer"> {{offer.company.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="familia">
    <th mat-header-cell *matHeaderCellDef> Familia </th>
    <td mat-cell *matCellDef="let offer"> {{offer.category.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let offer"> {{offer.date}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="provincia">
    <th mat-header-cell *matHeaderCellDef> Provincia </th>
    <td mat-cell *matCellDef="let offer"> {{offer.province.name }} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="municipio">
    <th mat-header-cell *matHeaderCellDef> Municipio </th>
    <td mat-cell *matCellDef="let offer"> {{offer.municipe.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let offer">
      <a style="cursor:pointer" [routerLink]="['/admin/offers/', offer.id]">
        Ver Detalle
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="myOffersColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: myOffersColumns;"></tr>
</table>

<!--

<table class="table table-bordered table-striped">
  <thead class="thead-light">
  <tr>
    <th>Puesto</th>
    <th>Empresa</th>
    <th>Familia</th>
    <th>Fecha</th>
    <th>Provincia</th>
    <th>Municipio</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let offer of offers">
    <td>{{ offer.job.name }}</td>
    <td>{{ offer.company.name }}</td>
    <td>{{ offer.category.name }}</td>
    <td>{{ offer.date }}</td>
    <td>{{ offer.province.name }}</td>
    <td>{{ offer.municipe.name }}</td>
    <td>
      <a style="cursor:pointer" [routerLink]="['/admin/offers/', offer.id]"
      >Ver Detalle</a
      >
    </td>
  </tr>
  </tbody>
</table>

-->
