
<div *ngIf="user">
    <h2>Editar Formación Académica</h2>
    <hr>

    <section class="container editar-formacion">
      <div class="avatar">
        <img src="assets/img/main.jpg" width="100px">
        <span>
          <a routerLink="/admin/profile/{{user.id}}">{{user.name}} {{user.surname}}</a>
        </span>
      </div>

    <!-----------------------------------

    id: 0,
    sid: 0,
    tipo_titulo: 'ciclo',
    formacion_universidad: null,
    formacion_ciclo:
      centro: 'IES Politécnico Jesús Marin',
      familia: 'informatica',
      grado: 'superior',
      titulo: 'Administracion de sistemas informaticos y redes',
      fecha: '1397293028',
      formacion_dual: false,
      formacion_bilingue: false,
      certificado: true

    ------------------------------------>

      <form id="formFormacion" class="form-grupo" [formGroup]="formFormacion" (ngSubmit)="submit(formFormacion)">

          <select formControlName="titulo_academico"
                  value="{{user.studies[sid].tipo_titulo}}"
                  *ngIf="user.studies[sid].tipo_titulo === 'universidad'">
              <option value="{{user.studies[sid].tipo_titulo}}" selected>Universidad</option>
              <option value="ciclo" >Ciclo</option>
              <option value="" >Otros</option>
          </select>

          <select formControlName="titulo_academico"
                  value="{{user.studies[sid].tipo_titulo}}"
                  *ngIf="user.studies[sid].tipo_titulo === 'ciclo'">
              <option value="{{user.studies[sid].tipo_titulo}}" ng-selected="selected">Ciclo</option>
              <option value="universidad" >Universidad</option>
              <option value="otros" >Otros</option>
          </select>
            <!-----------------------------------
            UNIVERSIDAD
            ------------------------------------>
          <div id="universitario" *ngIf="(titulo_inicial == 'universidad') || (titulo_onchange == 'universidad')">

              <label>Nombre de centro</label>
              <input type="text" value="{{user.studies[sid].institution}}">

              <label>Título</label>
              <input type="text" value="{{user.studies[sid].title}}">

              <label>Fecha de título</label>
              <input type="date" value="{{user.studies[sid].fecha}}">

              <label>Formación</label>
              <input type="text" value="Formación">

              <label>Certificado</label>
              <input type="file" value="centro">
          </div>
            <!------- FIN UNIVERSIDAD ------------>

            <!-----------------------------------
            CICLO FORMATIVO
            ------------------------------------>

          <div id="ciclo" *ngIf="(titulo_inicial == 'ciclo') || (titulo_onchange == 'ciclo')">

              <label>Centro Educativo</label>
              <select formControlName="centro" value="{{user.studies[sid].formacion_ciclo[0].centro}}">
                  <option value="{{user.studies[sid].formacion_ciclo[0].centro}}" ng-selected="selected">
                      {{user.studies[sid].formacion_ciclo[0].centro}}
                  </option>
                  <option value="centro2">Centro 2</option>
                  <option value="centro3">Centro 3</option>
              </select>

              <label>Familia</label>
              <select formControlName="familia" value="{{user.studies[sid].formacion_ciclo[0].familia}}">
                <option value="{{user.studies[sid].formacion_ciclo[0].familia}}" ng-selected="selected">
                  {{user.studies[sid].formacion_ciclo[0].familia}}
                </option>
                <option value="2">familia 2</option>
                <option value="3">familia 3</option>
              </select>

              <label>Nivel de grado</label>
              <select formControlName="grado" value="{{user.studies[sid].formacion_ciclo[0].grado}}">
                  <option value="{{user.studies[sid].formacion_ciclo[0].grado}}" ng-selected="selected">
                      {{user.studies[sid].formacion_ciclo[0].grado}}
                  </option>
                  <option value="grado_medio">Grado Medio</option>
                  <option value="fp_basica">FP Básica</option>
              </select>

              <label>Fecha de título</label>
              <input type="date" value="Fecha">

              <label><input type="checkbox" name="formacion_dual"> Formación dual</label><br>
              <label><input type="checkbox" name="formacion_bilingue"> Formación bilingüe</label>

              <label>Certificado</label>
              <input type="file" value="centro">
          </div>
            <!------- FIN CICLO FORMATIVO ------------>
        <input type="submit" value="guardar" [disabled]="!formFormacion.valid">
        <p>Form status: {{formFormacion.status}}</p>

      </form>

    </section>

</div>
<!--select id="country" formControlName="country">
  <option *ngFor="let c of countries" [ngValue]="c">{{ c }}</option>
</select-->
