

#contenido{
	padding-top:4em;
}

#foto-perfil, #datosPersonales{
	width:25%;

}

#otra_info{
	padding-left:3em;
}

#otra_info  div{
	padding-left:1em;
}
h2{
	margin-top:2em;
}

td.mat-cell, th.mat-cell{
	text-align: left;
	min-width: 125px;
}

mat-tab >a{margin-top: 15px;}

