<mat-card>
  <img src="/assets/img/logo.png" style="max-width: 350px">

  <mat-card-content>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form" >
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <!--input matInput placeholder="Username" [(ngModel)]="username" name="username" required-->
          <input matInput
                 type="text"
                 id="email"
                 formControlName="email"
                 class="form-control"
                 placeholder="Email"
                 [ngClass]="{
              'is-invalid': submitted && loginForm.controls.email.errors
            }"
          />
        </mat-form-field>

      </div>

      <div class="form-group">
        <mat-form-field class="example-full-width">

          <!--input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required-->
          <input
                  matInput
                  type="password"
                  id="password"
                  formControlName="password"
                  class="form-control"
                  placeholder="Password"
                  [ngClass]="{
                'is-invalid': submitted && loginForm.controls.password.errors
              }"
          />
        </mat-form-field>
      </div>
      <mat-card-actions class="form-group">

        <!--button  (click)="login()" color="primary">Login</button-->

        <button mat-raised-button *ngIf="!cargando" [disabled]="loginForm.invalid" color="primary">
          LOGIN
        </button>

        <button mat-raised-button *ngIf="cargando" [disabled]="true" color="secondary"> Espere ... </button>

        <a routerLink="/forgot-password" class="btn btn-link">
          FORGOT PASSWORD
        </a>
      </mat-card-actions>
    </form>
    <button mat-raised-button color="secondary">
      SIGN UP
    </button>
  </mat-card-content>



</mat-card>

<!--

<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <img src="/assets/img/uoc_logo.png" />

      <h2>Login</h2>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div *ngIf="errorLogin" class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>

          There is an error in email or password
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && loginForm.controls.email.errors
            }"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && loginForm.controls.password.errors
            }"
          />
        </div>
        <div class="form-group">
          <button *ngIf="!cargando" [disabled]="loginForm.invalid" class="btn btn-primary">
            Login
          </button>
          <button *ngIf="cargando" [disabled]="true" class="btn btn-secondary"> Espere ... </button>

          <a routerLink="/forgot-password" class="btn btn-link"
            >Remember password</a
          >
        </div>
      </form>
    </div>
  </div>
</div>

-->
