/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC');
*{
  font-family: 'Noto Serif SC', serif;
  font-size: 1rem;
}
body{
  max-width: 1200px;
  margin: 0px auto;
}
header{
  margin-bottom: 20px;
}
section{
  margin-bottom: 5px;
}
div{display: flex}

h1{font-size: 3rem}
h2{font-size: 2rem;margin-bottom: 0}
.datos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
img{display: block}
section img{height: 100px}
table{
  min-width: 600px;
  text-align: center;
  margin: 20px auto;
}
.formacion table{
  width: 100%;
  max-width: 680px;
  text-align: center;
  margin: 20px auto;
}
th,td{padding: 15px}
th{background: #ccc;color:#000}

label{
  font-weight: 600;
}
input{
  display: block;
  width: 200px;
  max-width: 400px;
  margin: 5px;
}
textarea{
  width: 100%;
  margin-bottom: 5px;
}
select{
  width: 200px;
  margin-bottom: 5px;
}
.form-grupo{
  display: flex;
  align-items: center;
}
.formulario-datos{
  width: 80%;
}
.editar-formacion, .editar-experiencia, .editar-idiomas{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.avatar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
