<section class="container idiomas">
    <h2>Idiomas</h2>
    <a routerLink="/admin/profile-language">añadir nuevo +</a>

    <table>
        <thead>
        <tr>
            <th>Nivel</th>
            <th>Puesto</th>
            <th>Fechas</th>
            <th colspan="2">Acciones</th>
        </tr>
        </thead>
        <tbody *ngFor="let _ of user?.languages; let index=index; trackBy: trackByFn">
        <tr>
            <td>{{user.languages[index].nivel}}</td>
            <td>{{user.languages[index].idioma}}</td>
            <td>{{user.languages[index].fecha}}</td>
            <td><a routerLink="/admin/profile/{{user.id}}/languages/{{user.languages[index].lid}}">editar</a></td>
            <td><button (click)='removeLanguage(user.languages[index].lid)'>borrar</button></td>
        </tr>
        </tbody>
    </table>
</section>

<div *ngIf="user">
    <h2>Editar Idioma</h2>
    <hr>

    <section class="container editar-formacion">
      <div class="avatar">
        <img src="assets/img/main.jpg" width="100px">
        <span>
          <a routerLink="/admin/profile/{{user.id}}">{{user.name}} {{user.surname}}</a>
        </span>
      </div>

    <!-----------------------------------

    id: 0,
    sid: 0,
    tipo_titulo: 'ciclo',
    formacion_universidad: null,
    formacion_ciclo:
      centro: 'IES Politécnico Jesús Marin',
      familia: 'informatica',
      grado: 'superior',
      titulo: 'Administracion de sistemas informaticos y redes',
      fecha: '1397293028',
      formacion_dual: false,
      formacion_bilingue: false,
      certificado: true

    ------------------------------------>
{{idiomas[0].name}}
      <form id="formIdioma" class="form-grupo" [formGroup]="formIdioma" (ngSubmit)="submit(formIdioma)">
          <!-- IDIOMAS ------------>

          <select formControlName="idioma" ng-model="seleccion"
                  *ngIf="user.languages[lid].idioma === 'Ingles'">
              <option value="Inglés" ng-selected="seleccion">Inglés</option>
              <option value="Francés" >Francés</option>
              <option value="Alemán" >Alemán</option>
              <option value="Portugués" >Portugués</option>
              <option value="Otros" >Otros</option>
          </select>
          <select formControlName="idioma" ng-model="seleccion"
                  *ngIf="user.languages[lid].idioma === 'Francés'">
              <option value="Inglés" >Inglés</option>
              <option value="Frances" ng-selected="seleccion">Frances</option>
              <option value="Alemán" >Alemán</option>
              <option value="Portugués" >Portugués</option>
              <option value="Otros" >Otros</option>
          </select>
          <select formControlName="idioma" ng-model="seleccion"
                  *ngIf="user.languages[lid].idioma === 'Alemán'">
              <option value="Inglés" >Inglés</option>
              <option value="Frances" >Frances</option>
              <option value="Alemán" ng-selected="seleccion">Alemán</option>
              <option value="Portugués" >Portugués</option>
              <option value="Otros" >Otros</option>
          </select>
          <select formControlName="idioma" ng-model="seleccion"
                  *ngIf="user.languages[lid].idioma === 'Portugués'">
              <option value="Inglés" >Inglés</option>
              <option value="Frances" >Frances</option>
              <option value="Alemán" >Alemán</option>
              <option value="Portugués" ng-selected="seleccion">Portugués</option>
              <option value="Otros" >Otros</option>
          </select>
          <select formControlName="idioma" ng-model="seleccion"
                  *ngIf="user.languages[lid].idioma === 'Otro'">
              <option value="Inglés" ng-selected="seleccion">Inglés</option>
              <option value="Frances" >Frances</option>
              <option value="Alemán" >Alemán</option>
              <option value="Portugués" >Portugués</option>
              <option value="Otro" ng-selected="seleccion" >Otro</option>
          </select>
          <input placeholder="introduce idioma">


          <!-----------
          NIVEL
          ------------>

          <select formControlName="nivel_idioma" ng-model="seleccion"
                  *ngIf="user.languages[lid].nivel === 'A1'">
              <option value="A1" ng-selected="seleccion">A1</option>
              <option value="A2" >A2</option>
              <option value="B1" >B1</option>
              <option value="B2" >B2</option>
              <option value="C1" >C1</option>
              <option value="C2" >C2</option>
          </select>

          <select formControlName="nivel_idioma" ng-model="seleccion"
                  *ngIf="user.languages[lid].nivel === 'A2'">
              <option value="A1" ng-selected="seleccion">A2</option>
              <option value="A1" >A1</option>
              <option value="B1" >B1</option>
              <option value="B2" >B2</option>
              <option value="C1" >C1</option>
              <option value="C2" >C2</option>
          </select>

          <select formControlName="nivel_idioma" ng-model="seleccion"
                  *ngIf="user.languages[lid].nivel === 'B1'">
              <option value="A1" ng-selected="seleccion">B1</option>
              <option value="A1" >A1</option>
              <option value="A2" >A2</option>
              <option value="B2" >B2</option>
              <option value="C1" >C1</option>
              <option value="C2" >C2</option>
          </select>

          <select formControlName="nivel_idioma" ng-model="seleccion"
                  *ngIf="user.languages[lid].nivel === 'B2'">
              <option value="A1" ng-selected="seleccion">B2</option>
              <option value="A1" >A1</option>
              <option value="A2" >A2</option>
              <option value="B1" >B1</option>
              <option value="C1" >C1</option>
              <option value="C2" >C2</option>
          </select>

          <select formControlName="nivel_idioma" ng-model="seleccion"
                  *ngIf="user.languages[lid].nivel === 'C1'">
              <option value="A1" ng-selected="seleccion">C1</option>
              <option value="A1" >A1</option>
              <option value="A2" >A2</option>
              <option value="B1" >B1</option>
              <option value="B2" >B2</option>
              <option value="C2" >C2</option>
          </select>

          <select formControlName="nivel_idioma" ng-model="seleccion"
                  *ngIf="user.languages[lid].nivel === 'C2'">
              <option value="A1" ng-selected="seleccion">C2</option>
              <option value="A1" >A1</option>
              <option value="A2" >A2</option>
              <option value="B1" >B1</option>
              <option value="B2" >B2</option>
              <option value="C1" >C1</option>
          </select>
          <!-- NIVEL ------------>


          <input type="text" value="{{user.languages[lid].fecha}}">

        <input type="submit" value="guardar" [disabled]="!formIdioma.valid">
        <p>Form status: {{formIdioma.status}}</p>

      </form>

    </section>

</div>
<!--select id="country" formControlName="country">
  <option *ngFor="let c of countries" [ngValue]="c">{{ c }}</option>
</select-->
